mat-drawer-container {
  height: 100%;

  mat-drawer {
    width: 80%;
    max-width: 400px;

    display: flex;
    flex-direction: column;

    img {
      width: 100%;
    }

    .mat-list-icon {
      color: rgba(0, 0, 0, 0.54);
      margin-right: 15px;
    }
  }

  @media all and (min-width: 768px) {
    mat-drawer {
      width: 400px;
    }
  }

  mat-drawer-content {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
