<mat-drawer-container>
  <mat-drawer [opened]="isOpen">
    <img src="assets/logo.png">
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item href="/">
        <mat-icon mat-list-icon>home</mat-icon>
        <h4>Inicio</h4>
      </a>
      <a mat-list-item href="/navigate">
        <mat-icon mat-list-icon>map</mat-icon>
        <h4>Mapa</h4>
      </a>
      <mat-divider *ngIf="false"></mat-divider>
      <mat-list-item *ngIf="false">
        <mat-icon mat-list-icon>settings</mat-icon>
        <h4>Ajustes</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidemenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>San Matias Navigator</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
